body {
  font-family: sans-serif;
  padding: 5px;
  margin: 0;
}

#map {
  width: 800px;
  height: 600px;
  float: left;
  margin: 0 15px 0 0;
}

.colorset {
  display: inline-block;
  margin-right: 15px;
}

.colorset button {
  width: 40px;
  height: 18px;
  border: 1px solid #999;
  cursor: pointer;
}